img{
    width: 400px;
    height: 400px;
    /* margin-left: 200px; */
    /* padding-left: 100px; */
    border: 1px solid black;
}

.one{
    color: blue;
}

#two{
    color: green;
}

.wa{
    display: flex;
    justify-content: center;
}